/*######################################
# University of Information Technology #
# IT007 Operating System #
# <Pham Thanh Dat>, <20521175> #
# File: ex3.c #
######################################*/

#include <stdio.h>
#include<semaphore.h>
#include<pthread.h>
#include<stdlib.h>
#include<time.h>

int x = 0;

void *PROCESSA(void *mess)
{
    while(1)
    {
        x++;
        if(x == 20)
        {
            x = 0;
        }
        printf("PROCESS A: x = %d\n", x);
    }
}
void *PROCESSB(void *mess)
{
    while(1)
    {
         x++;
        if(x == 20)
        {
            x = 0;
        }
        printf("PROCESS B: x = %d\n", x);
    }
}
int main()
{
    pthread_t thr1, thr2;
    pthread_create(&thr1, NULL, &PROCESSA, NULL);
    pthread_create(&thr2, NULL, &PROCESSB, NULL);
    while(1){}
    return 0;
}